<!DOCTYPE html>
<html lang="en" ng-app="CartApp">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <!-- load lib's CSS can JS -->
        <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">

        <script src="/libs/jquery/dist/jquery.js"></script>
        <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/libs/angular/angular.js"></script>
        <script src="/libs/angular-animate/angular-animate.js"></script>

        <!-- load application -->
        <link rel="stylesheet" href="/index.css">
        <script src="/index.js"></script>
    </head>
    <body ng-controller="CartCtrl as cartCtrl">
        <div class="container">
            <h1>My Shopping Cart</h1>
            <form name="itemForm" ng-submit="cartCtrl.addToBasket()" novalidate>
                <div class="form-group">
                    <label for="item">Item:</label>
                    <input type="text" name="item" id="item" class="form-control" 
                            required
                            ng-model="cartCtrl.item">
                    <span id="helpBlock" class="animate-this help-block" 
                            ng-show="itemForm.item.$invalid">
                        Please enter the item you wish to procure
                    </span>
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <input type="number" name="quantity" id="quantity" class="form-control" 
                            required min="1" 
                            ng-model="cartCtrl.quantity">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success form-control" ng-disabled="itemForm.$invalid">
                        Add to Cart
                        <i class="fa fa-cart-plus"></i>
                    </button>
                </div>
            </form>
            <h2>Contents</h2>
            <form class="form-inline">
                <div class="form-group">
                    <label for="filter">Filter:</label>
                    <input type="text" name="" id="filter" class="form-control" size="50"
                            ng-model="cartCtrl.filterText">
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="i in cartCtrl.basket | filter:{item: cartCtrl.filterText} ">
                        <td> {{ i.item | uppercase }}</td>
                        <td>{{ i.quantity }}</td>
                        <td>
                            <button type="button" class="btn btn-default" ng-click="cartCtrl.removeFromBasket(i.item)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

    </body>
</html>